<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <div class="col col-md-3 col-lg-3">
      <app-side-bar></app-side-bar>
    </div>

    <div class="col col-md-9 col-lg-9 mt-4">
      <h4>Consulta de transacciones</h4>
      <hr>
      <form>

        <div class="form-group">
          <label>Terminal</label>
          <input type="text"
                 class="form-control"
                 placeholder="Consulta por número de terminal">
        </div>

        <hr>

        <div class="form-group">
          <label>Código único</label>
          <input type="text"
                 class="form-control"
                 placeholder="Consulta por código único">
        </div>

        <hr>
        <h4>Fecha</h4>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Desde</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Hasta</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
        </div>

        <hr>

        <div class="form-group">
          <label>Estado</label>
          <select class="form-control">
            <option selected>seleccione...</option>
            <option>Aprobado</option>
            <option>Negado</option>
            <option>Incompleto</option>
          </select>
        </div>

        <hr>

        <div class="form-group">
          <label>Tipo de trasacción</label>
          <select class="form-control">
            <option selected>seleccione...</option>
            <option>Compra</option>
            <option>Anulación</option>
          </select>
        </div>



        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>

    </div>
  </div>
</div>
