
<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <div class="col col-md-3 col-lg-3">
      <app-side-bar></app-side-bar>
    </div>

    <div class="col col-md-9 col-lg-9 mt-4">
      <h4>Módulo de consulta</h4>
      <hr>
      <form (ngSubmit)="buscarTerminal()">

        <div class="form-group">
          <div class="custom-control custom-radio pb-2">
            <input type="radio" id="customRadio1" name="campoTipoBusqueda" class="custom-control-input" valu
                    [(ngModel)]="objetoBusqueda.operation" value="terminal">
            <label class="custom-control-label" for="customRadio1">Terminal</label>
          </div>
          <div class="custom-control custom-radio pb-2">
            <input type="radio" id="customRadio2" name="campoTipoBusqueda" class="custom-control-input"
                    [(ngModel)]="objetoBusqueda.operation" value="comercio">
            <label class="custom-control-label" for="customRadio2">Código único</label>
          </div>

            <input type="text"
                 class="form-control"
                 [(ngModel)]="objetoBusqueda.code"
                 name="codeTerminal"
                 placeholder="Número de referencia">
        </div>

        <hr>


        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>

    </div>
  </div>
</div>
